
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
        }
        #pond {
            width: 100%;
            height: 200px;
            display: flex;
            justify-content: center;
            background-color: #99ccff;
            border: 3px solid #339966;
            border-radius: 10px;
            position: relative;
        }
        #lily {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 100px;
            height: 100px;
            background-image: url("images/lilypad_green.svg");
            background-size: contain;
            background-repeat: no-repeat;
        }
        #frog {
            width: 50px;
            height: 50px;
            background-image: url("images/frog_green.svg");
            background-size: contain;
            background-repeat: no-repeat;
        }
        